{{>header}}
{{#logged}}

<div class="d-flex vh-100 p-4">
   <div class="d-flex col-5">
      <div class="card w-100 border-dark" style="background-color:  rgb(249, 196, 164);">
         <img src="/userImageAdmin/{{viewUser.id}}"></img>
         <form action="/admin/user/{{viewUser.id}}/editCharacterName" method="POST">
            <h5 class="list-group-item" style="background-color:  rgb(249, 196, 164);">{{character.name}}</h5>
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);"> 
               <input type="text" name="newName" value="{{character.name}}" class="form-control" style="width: 100%;" />
            </li>
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">
               <input type="hidden" name="_csrf" value="{{token}}" />
               <input type="submit" class="btn btn-primary" value="Change Name">
            </li>
         </form>
         <form action="/downloadAdmin/{{viewUser.id}}" method="GET">
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">
               <input type="hidden" name="_csrf" value="{{token}}"/>
               <input type='submit' class="btn btn-primary" value='Download image'/>
            </li>
         </form>
         <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">
            <p class="card-text">{{{character.description}}}</p>
         </li> <!--Shows rich text -->

         <ul class="list-group list-group-flush">

            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">Strength - {{character.strength}}</li>
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">Defense - {{character.defense}}</li>
            
       
   </div>
</div>

<body class="bg-dark"
   style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/image/ch_background.jpg') no-repeat center center / cover;">
</body>

{{/logged}}
{{>footer}}