{{>header}}
{{#logged}}

<div class="d-flex vh-100 p-4">
   <div class="d-flex col-5">
      <div class="card w-100 border-dark" style="background-color:  rgb(249, 196, 164);">
         <img src="/userImage"></img>
         <div class="list-group-item" style="background-color:  rgb(249, 196, 164);">
            <form action="/editCharacter" method="POST">
               <h5 class="list-group-item" style="background-color:  rgb(249, 196, 164);">{{character.name}}</h5>
               <li class="list-group-item" style="background-color:  rgb(249, 196, 164);"> 
                  <input type="text" name="name" value="{{character.name}}" class="form-control" style="width: 100%;" />
               </li>
               <div class="list-group-item" style="background-color:  rgb(249, 196, 164);">
                  <input type="hidden" name="_csrf" value="{{token}}" />
                  <input type='submit' class="btn btn-primary"value='Change name'/>
               </div>
            </form>
         </div> 
         <div class="list-group-item" style="background-color:  rgb(249, 196, 164); height: 53px;">
            <form action="/deleteCharacter" method="POST">
               <input type="hidden" name="_csrf" value="{{token}}"/>
               <input type='submit' class="btn btn-primary" style="background-color: #f92929;" value='Delete character'/>            
            </form> 
         </div>
         <div class="list-group-item" style="background-color:  rgb(249, 196, 164); height: 53px">   
            <form action="/download" method="GET">          
               <input type="hidden" name="_csrf" value="{{token}}"/>
               <input type='submit' class="btn btn-primary" style="background-color: #21d95e;" value='Download image'/>
            </form>
         </div>
         <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">
            <p class="card-text">{{{character.description}}}</p>
         </li> <!--Shows rich text -->
         <ul class="list-group list-group-flush">
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">MONEY - {{user.money}}</li>
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">Strength - {{character.strength}}</li>
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">Defense - {{character.defense}}</li>
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">Intimidation - {{character.intimidation}}</li>
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">Style - {{character.style}}</li>
            
            {{#character.armor}}
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">
            <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCardA" style="background-color:  rgb(255, 179, 132);" ; aria-expanded="true" aria-controls="collapseCardA">
               Equipped armor
            </button>
            </li>
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);"></li>
            <div class="collapse" id="collapseCardA">
               <form action="/unEquipArmor" method="post" enctype="multipart/form-data">
                  <div class="card mb-3 border-0" style="background-color:  rgb(255, 179, 132);">
                     <div class="row g-0">
                        <div class="col-md-4">
                           <img src="/api/armor/{{id}}/image" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                           <div class="card-body">
                              <h5 class="card-title">{{name}}</h5>
                              <p class="card-text">Defense: {{defense}}</p>
                              <p class="card-text">Style: {{style}}</p>
                              <input type='submit' value='Unequip'>
                              <!-- Hidden inputs-->
                              <input type="hidden" name="id" value="{{id}}">
                              <input type="hidden" name="_csrf" value="{{token}}" />
                              <!--end of hidden inputs-->
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            </li>
            {{/character.armor}}

            {{^character.armor}}
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">No armor equipped</li>
            {{/character.armor}}

            {{#character.weapon}}
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">
               <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCardW" style="background-color:  rgb(255, 179, 132);" ; aria-expanded="true" aria-controls="collapseCardW">
                  Equipped weapon 
               </button>
               <div class="collapse" id="collapseCardW">
                  <form action="/unEquipWeapon" method="post" enctype="multipart/form-data">
                     <div class="card mb-3 border-0" style="background-color:  rgb(255, 179, 132);">
                        <div class="row g-0">
                           <div class="col-md-4">
                              <img src="/api/weapon/{{id}}/image" class="img-fluid rounded-start" alt="...">
                           </div>
                           <div class="col-md-8">
                              <div class="card-body">
                                 <h5 class="card-title">{{name}}</h5>
                                 <p class="card-text">Strength: {{strength}}</p>
                                 <p class="card-text">Intimidation: {{intimidation}}</p>
                                 <input type='submit' value='Unequip'>
                                 <!-- Hidden inputs-->
                                 <input type="hidden" name="id" value="{{id}}">
                                 <input type="hidden" name="_csrf" value="{{token}}" />
                                 <!--end of hidden inputs-->
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </li>
            {{/character.weapon}}

            {{^character.weapon}}
            <li class="list-group-item" style="background-color:  rgb(249, 196, 164);">No weapon equipped</li>
            {{/character.weapon}}

         </ul>
      </div>
   </div>
   <div class="col-8 row row-cols-auto g-4 justify-content-center">

      {{#currentWeapon}}
      <div class="col">
         <form action="/equipWeapon" method="post" enctype="multipart/form-data">
            <div class="card" style="width:17rem;">
               <img src="/api/weapon/{{id}}/image" class="card-img-top" alt="..." height="306px" width="1024px">
               <div class="card-body">
                  <h5 class="card-title">{{name}}</h5>
                  <p class="card-title">{{description}}</p>
                  <h6 class="card-style">Strength: {{strength}}</h6>
                  <h6 class="card-intimidation">Intimidation: {{intimidation}}</h6>
                  <!-- Hidden inputs to avoid sending the data of every object-->
                  <input type="hidden" name="id" value="{{id}}">
                  <input type="hidden" name="_csrf" value="{{token}}" />
                  <!--end of hidden inputs-->
                  <input type='submit' value='Equip'>
               </div>
            </div>
         </form>
      </div>
      {{/currentWeapon}}

      {{#currentArmor}}
      <div class="col">
         <form action="/equipArmor" method="post" enctype="multipart/form-data">
            <div class="card" style="width:17rem;">
               <img src="/api/armor/{{id}}/image" class="card-img-top" alt="..." height="306px" width="1024px">
               <div class="card-body">
                  <h5 class="card-title">{{name}}</h5>
                  <p class="card-title">{{description}}</p>
                  <h6 class="card-style">Defense: {{defense}}</h6>
                  <h6 class="card-style">Style: {{style}}</h6>
                  <!-- Hidden inputs to avoid sending the data of every object-->
                  <input type="hidden" name="id" value="{{id}}">
                  <input type="hidden" name="_csrf" value="{{token}}" />
                  <!--end of hidden inputs-->
                  <input type='submit' value='Equip'>
               </div>
            </div>
         </form>
      </div>
      {{/currentArmor}}

   </div>
</div>

<body class="bg-dark"
   style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/image/ch_background.jpg') no-repeat center center / cover;">
</body>

{{/logged}}
{{>footer}}