{{>header}}
<h1>Edit weapon</h1>
<form action="/equipment/{{equipment.id}}/edit" method="post">
    <p>Name: </p>
    <input type='text' name='name' value="{{equipment.name}}" required />
    <p>Intimidation: </p>
    <input type='text' name='intimidation' value="{{equipment.intimidation}}" required/>
    <p>Description:</p>
    <textarea name='description' required>{{equipment.description}}</textarea>
    <p>Attack: </p>
    <input type='text' name='attribute' value="{{equipment.attribute}}" required/>
    <p>Price: </p>
    <input type='text' name='price' value="{{equipment.price}}" required/>
    <input type="hidden" name="picture" value="{{equipment.picture}}">
    <input type="hidden" name="style" value="0">
    <br><br>
    <input type='submit' value='Save' />
</form>
{{>footer}}