{{>header}}
<h1>Edit weapon</h1>
<form action="/weapon/{{weapon.id}}/edit" method="post">
    <p>Name: </p>
    <input type='text' name='name' value="{{weapon.name}}"/>
    <p>Intimidation: </p>
    <input type='text' name='intimidation' value="{{weapon.intimidation}}"/>
    <p>Description:</p>
    <textarea name='description'>{{weapon.description}}</textarea>
    <p>Attack: </p>
    <input type='text' name='attribute' value="{{weapon.strength}}"/>
    <p>Price: </p>
    <input type='text' name='price' value="{{weapon.price}}"/>
    <input type="hidden" name="picture" value="{{weapon.imageFile}}">
    <input type="hidden" name="style" value="0">
    <br><br>
    <input type='submit' value='Save' />
</form>
{{>footer}}