{{>header}}
{{#logged}}
{{#admin}}
<h1>Equipment</h1>
<div class="card" style="width: 18rem">
    <h2>Weapons</h2>
    <ul class="list-group list-group-flush" id="weapon-list"></ul>
    <h2>Armors</h2>
    <ul class="list-group list-group-flush" id="armor-list"></ul>
</div>
<script src="../../resources/static\js/eqmanager.js"></script> 

    {{#character}}
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="delete_Character">Delete character</a></li>
    </ul>
    {{/character}}

{{/admin}}
{{/logged}}
{{>footer}}
