{{>header}}
<h1>Equipment</h1>
<div class="card" style="width: 18rem">
    {{#armor}}
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="equipment/{{id}}">{{name}}</a></li>
    </ul>
    {{/armor}}

    {{#weapon}}
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="equipment/{{id}}">{{name}}</a></li>
    </ul>
    {{/weapon}}

    {{#character}}
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="delete_Character">Delete character</a></li>
    </ul>
    {{/character}}
</div>
{{>footer}}