{{>header}}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<html>

<body>
    <div class="d-flex align-items-center vh-100 p-4">
        <div class="d-flex col-6 p-4 bg-secondary bg-opacity-75 text-white rounded-3">
            <form action="/formProcess" method="post" enctype="multipart/form-data" class="w-100">
                <div class="mb-3">
                    <label for="characterName" class="form-label">Your mighty sds</label>
                    <input type="text" class="form-control" name="nameOfCharacter" id="characterName">
                </div>
                <div class="mb-3">
                    <label for="characterIntro" class="form-label">What can you say about yourself?</label>
                    <textarea class="form-control" name="characterDesc" rows="3" id="characterIntro"></textarea>
                </div>
                <div class="mb-3">
                    <p>Image name: </p>
                    <input type="text" name="imageName" class="form-control" />
                    <p>Image file:</p>
                    <input type='file' name='characterImage' accept=".jpg, .jpeg, .gif" class="form-control" />
                    <input type='submit' value='Save' class="btn btn-primary mt-3" />
                </div>
            </form>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <img src="/imp_imgs/cute-cat-white.gif" class="img-fluid rounded-3" alt="Character Image">

        </div>
    </div>
        <body class="bg-dark" style="background: url('/imp_imgs/background1.png') no-repeat center center / cover;">
        </body>
    

</body>
<div class="site-content">
</html>