{{>header}}
<html>
<body>

    <div class="mb-3">
        <form action="/formProcess" method="post" enctype="multipart/form-data">
            <label for="characterName" class="form-label">Your mighty name</label>
            <input type="text" class="form-control" name="nameOfCharacter" id="characterName">
    </div>
    <div class="mb-3">
        <label for="characterIntro" class="form-label">What can you say about yourself?</label>
        <textarea class="form-control" name="characterDesc" rows="3" id="characterIntro"></textarea>
    </div>
    <div class="mb-3">
        <p>Image name: </p>
        <input type="text" name="imageName" />
        <p>Image file:</p><input type='file' name='characterImage' accept=".jpg, .jpeg, .gif" />
        <input type='submit' value='Save' />
    </div>
    </form>
    
    
    </body>
    
    </html>