{{>header}}
	<h1 style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-family: Arial, sans-serif;">Store</h1>
		<div class="row row-cols-auto g-4 justify-content-center">
			{{#itemList}}			
			<div class="col">
				{{#bought}}
				<form action="/purchase" method="post" enctype="multipart/form-data">
				{{/bought}}
				{{^bought}}
				{{#isArmor}}
				<form action="/purchaseArmor" method="post" enctype="multipart/form-data">
				{{/isArmor}}
				{{#isWeapon}}
				<form action="/purchaseWeapon" method="post" enctype="multipart/form-data">
				{{/isWeapon}}
				{{/bought}}
					<div class="card" style="width:18rem;">
						{{#isArmor}}
						<img src="/Armor/{{item.id}}/image" class="card-img-top" alt="..." height="306px" width="1024px">
						{{/isArmor}}
						{{#isWeapon}}
						<img src="/Weapon/{{item.id}}/image" class="card-img-top" alt="..." height="306px" width="1024px">
						{{/isWeapon}}
						<div class="card-body">
							<h5 class="card-title">{{name}}</h5>
							<p class="card-text">{{description}}</p>
							{{#isArmor}}
							<h6 class="card-style">Defense: {{defense}}</h6>
							<h6 class="card-style">Style: {{style}}</h6>
							{{/isArmor}}		
						    
							{{#isWeapon}}
							<h6 class="card-intimidation">Damage: {{strength}}</h6>
							<h6 class="card-intimidation">Intimidation: {{intimidation}}</h6>
							{{/isWeapon}}
						
							{{#bought}}
							<p style="color: green; font-weight: bold;">Bought</p>
							{{/bought}}
							
							{{^bought}}
							<!--Hidden inputs to avoid sending the data of every object-->
							<input type="hidden" name="id" value="{{item.id}}">
							<!--end of hidden inputs-->
							<input type='submit' value='Add'>
							{{/bought}}
							
						</div>
					</div>
				</form>
			</div>			
			{{/itemList}}

				
			<div>
				<nobr>
					{{#hasPrev}}<a href="/list_objects?page={{prev}}">Prev</a>{{/hasPrev}}
					{{#hasNext}}<a href="/list_objects?page={{next}}">Next</a>{{/hasNext}}
				</nobr>
			</div>
			<body class="bg-dark" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('image/test_bg.jpg') no-repeat center center / cover;">
			</body>
		</div>
		


{{>footer}}