{{>header}}

    <h1 style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-family: Arial, sans-serif;">Armors Store</h1>       
        <div id="armor-list" class="row row-cols-auto g-4 justify-content-center" ></div>        
            <!-- The armors are loaded here with AJAX -->      
        </div>   
        
        <nav aria-label="Page navigation">
            <div id="pagination" class="pagination">
                <button class="btn-next-prev" id="prevPage">Prev</button>
                <button class="btn-next-prev" id="nextPage">Next</button>
            </div>
        </nav>
    
    <script src="../../resources/static\js/ArmorShop.js"></script>
    
    <body class="bg-dark" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('image/test_bg.jpg') no-repeat center center / cover;"></body>

{{>footer}}