{{>header}}

<h2 style="text-align: center;">Login</h2>
<div class="d-flex">
    <div style="width: 50%; height: 50%;">
        <form action="/login" method="post" class="d-flex flex-column gap-2 p-4">
            <input type="text" class="form-control" name="username" placeholder="Username">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <div class="text-start w-100">
                <input type="submit" class="btn btn-primary" value="Log In">
            </div>
            <input type="hidden" name="_csrf" value="{{token}}" />
        </form>
    </div>

    <div style="width: 50%; height: 50%;">
        <img src="/image/cat-war.jpg" style="width: 75%; height: 75%;">
    </div>
</div>

{{>footer}}