{{>header}}

<div class="col">
    <form action="/purchaseArmor" method="post" enctype="multipart/form-data">
		<div class="card" style="width:18rem;">
			<img src="/api/armor/{{id}}/image" class="card-img-top" alt="..." height="306px" width="1024px">
			<div class="card-body">
				<h5 class="card-title">{{armor.name}}</h5>
				<p class="card-text">{{armor.description}}</p>
				<h6 class="card-price">Price: {{armor.price}}</h6>
				<h6 class="card-damage">Defense: {{armor.defense}}</h6>
				<h6 class="card-intimidation">Style: {{armor.style}}</h6>
				<!--Hidden inputs to avoid sending the data of every object-->
				<input type="hidden" name="id" value="{{id}}">
				<input type="hidden" name="_csrf" value="{{token}}"/>
				<!--end of hidden inputs-->
				<input type='submit' value='Buy'>
			</div>
		</div>
	</form>
</div>

{{#admin}}
    <div class="col">
        <a href="#" class="card-link">
			<form action="/armor/{{id}}/delete" method="post">
			<input type="hidden" name="id" value="{{id}}">
			<input type="hidden" name="_csrf" value="{{token}}"/>
			<input type='submit' value='Delete armor'/>
			</form>
			<a href="/armor/{{id}}/edit">Edit armor</a>            
        </a>
    </div>
{{/admin}}

<a href="/armorshop">Go back to shop</a><p>&nbsp;</p>

{{>footer}}