{{>header}}
{{#logged}}
{{#admin}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{weapon.name}}</h5>
        <p class="card-text"><p>Intimidation: {{weapon.intimidation}}</p>
        <p>Strength: {{weapon.strength}}</p>
        <p>Description: {{weapon.description}}</p>
        <p>Price: {{weapon.price}}</p></p>
        <a href="#" class="card-link"><form action="/weapon/{{id}}/delete" method="post">
            <input type='submit' value='Delete weapon' />
        </form></a>
        <a href="#" class="card-link"><a href="/weapon/{{id}}/edit">Edit weapon</a></a>
    </div>
</div>
<a href="/equipment_manager">Return to manage equipment</a>
{{/admin}}
{{/logged}}
{{>footer}}