{{>header}}
{{#logged}}
{{#admin}}

<h1 style="color:rgb(250, 246, 35);">USER LIST</h1>
<div class="card" style="width: 18rem">
    <ul class="list-group list-group-flush" id="user-list">

        {{#users}}
        <li class="list-group-item">
            <strong>{{userName}}</strong>
            <form action="/admin/character/{{id}}/view" method="get" style="display:inline; margin-top: 5px;">
                <input type="hidden" name="_csrf" value="{{token}}">
                <input type="submit" value="View character">
            </form>

            <!-- edit name -->
            <form action="/admin/user/{{id}}/editName" method="post" enctype="multipart/form-data" style="margin-top: 10px;">
                <input type="text" name="newName" value="{{userName}}" />
                <input type="hidden" name="_csrf" value="{{token}}" />
                <input type="submit" value="Change name" />
            </form>

            <!-- delete user  -->
            <form action="/admin/user/{{id}}/delete" method="post" style="display:inline; margin-top: 5px;">
                <input type="hidden" name="_csrf" value="{{token}}">
                <input type="submit" value="Delete user">
            </form>

             <!-- delete user  -->
            <form action="/admin/user/{{id}}/deleteCharacter" method="post" style="display:inline; margin-top: 5px;">
                <input type="hidden" name="_csrf" value="{{token}}">
                <input type="submit" value="Delete character">
            </form>
        </li>
        {{/users}}
        
    </ul>
</div>

<body class="bg-dark"
   style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/image/admin2.jpg') no-repeat center center / cover;">
</body>

{{/admin}}
{{/logged}}
{{>footer}}